.slider {
  -webkit-appearance: none;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 12px;
}

.slider::-moz-range-thumb {
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.wrapper {
  width: 35%;
  display: grid;
}

.wrapper span {
  align-content: center;
  white-space: nowrap;
  color: white;
}