.menu {
  z-index: 9;
  display: none;
}

.drop-down {
  float: left;
  margin-top: 0;
}

#menu {
  position: absolute;
  padding-left: 0;
  z-index: 9;
  color: var(--fg);
  background-color: var(--bg);
  border: solid 1px var(--ll);
  font: 15px roboto condensed, helvetica neue, helvetica, arial, sans-serif;
  list-style: none;
  margin-top: 0;
}

.menu-open {
  display: block;
}

.menu::-webkit-scrollbar-track {
  background-color: var(--bg);
}

.menu::-webkit-scrollbar {
  width: 12px;
  background-color: var(--fg);
}

.menu::-webkit-scrollbar-thumb {
  background-color: var(--fg);
}

.ui-menu-item-wrapper {
  padding: 12px 20px;
}

.ui-menu-item:hover {
  background-color: var(--fg);
  color: var(--bg);
}

.ui-menu-item:hover .svg-path {
  filter: invert(100%);
}

.ui-menu-item .svg-path {
  fill: var(--fg);
}
