#parentHelpButtonCss {
  cursor: pointer;
  position: absolute;
  float: right;
  right: 0px;
  bottom: 75px;
  width: 171px;
}

#parentHelpButtonCss:hover {
  background-color: var(--fg);
  color: var(--bg);
}

#img-option {
  float: right;
}

#parentHelpButtonCss:hover .svg-path {
  filter: invert(100%);
}
