.helpbutton-css {
  float: right;
  cursor: pointer;
  right: 0px;
  bottom: 75px;
  z-index: 5;
  text-align: center;
  font: 15px roboto condensed, helvetica neue, helvetica, arial, sans-serif;
  background-color: var(--bg);
  padding: 6px 20px;
  color: var(--fg);
  height: 18px;
  width: 150px;
}

.helpbutton-css:hover {
  background-color: var(--fg);
  color: var(--bg);
}

.help-button-css {
  float: bottom;
  position: relative;
  cursor: pointer;
  right: 21px;
  z-index: 5;
  text-align: center;
  font: 15px roboto condensed, helvetica neue, helvetica, arial, sans-serif;
  background-color: var(--bg);
  border: solid 1px var(--ll);
  padding: 6px 20px;
  color: var(--fg);
  height: 18px;
  width: 150px;
}

.help-button-css:hover {
  background-color: var(--fg);
  color: var(--bg);
}

#helpMenu {
  position: fixed;
  border: none;
  right: -21px;
  bottom: 87px;
  /* element now is closest to the screen
  z-index:9999; */
}
