.info {
  top: 58px;
  z-index: 3;
}

.info-row {
  display: inline-block;
  padding: 0 0;
  width: 100%;
}

.info-row hr {
  padding-left: 20px;
  padding-right: 20px;
  /*noinspection CssFloatPxLength*/
  border-width: 0.5px;
  /*noinspection CssUnresolvedCustomProperty,CssFloatPxLength*/
  border-bottom: solid 0.5px var(--ll);
}

.info-left {
  padding-left: 20px;
  font-size: 14px;
  float: left;
}

.info-right {
  padding-right: 20px;
  font-size: 14px;
  float: right;
}

.info-bio {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 8px 20px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-crop {
  width: 100%;
  height: 100%;
  padding-left: 0;
  display: block;
  border-radius: 50% 50%;
  /*noinspection CssUnresolvedCustomProperty*/
  border: solid 5px var(--bg);
  margin-top: 20px;
  background-size: cover;
  background-position: center;
}

/**
 * CSS image crop. Forces image to specific aspect ratio cropping at the middle.
 * http://dabblet.com/gist/4711695
 */

.id-wrapper {
  width: 150px;
  height: 150px;
  padding-left: calc((100% - 150px) / 2);
}

.id-linked :hover {
  /*noinspection CssUnresolvedCustomProperty*/
  border-color: var(--fg);
}

@media (max-width: 1160px) and (min-width: 0px) {
  .info-right {
    padding-right: 20px;

    float: right;
  }
  .id-wrapper {
    width: 75px;
    height: 75px;
    padding-left: calc((100% - 75px) / 2);
  }
}
