.control > h2 {
  float: left;
  font-size: 15px;
  font-weight: 300;
  margin-right: 20px;
}

.checkbox-round {
  float: left;
  width: 26px;
  height: 26px;
  background: var(--fg);
  margin: 7px 20px;
  border-radius: 100%;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.checkbox-round label {
  /*display: block;*/
  width: 20px;
  height: 20px;
  border-radius: 100px;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 10;
  background: var(--bg);
  /*box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);*/
}

.checkbox-round input[type="checkbox"]:checked + label {
  background: var(--fg);
}

.topnav .control {
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}

@media screen and (max-width: 700px) {
  .control .checkbox-round {
    background: var(--fg);
  }

  .control .checkbox-round label {
    background: var(--bg);
  }

  .control .checkbox-round input[type="checkbox"]:checked + label {
    background: var(--fg);
  }

  .topnav .control {
    display: none;
    background-color: var(--fg);
    color: var(--bg);
    width: 100%;
  }

  .topnav.responsive .control {
    float: left;
    text-align: left;
    clear: both;
  }

  .control:last-child {
    padding-bottom: 10px;
    padding-right: 10px;
  }
}
